@import url(//fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgb(44, 44, 44) !important; */
}

/* Grid layout */
.App{
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
  "topbar topbar topbar"
  "adboxl imagebox adboxr";
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows:    1fr 9fr;
  background-color: rgb(44, 44, 44);
  color: #444;
  margin-left: 5px;
  margin-right: 5px;
}

.ImageContainer, .TopBar{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 3px;
  /* font-size: 150%; */
}