.ToolBar{
    padding: 5px;
    margin: 3px;
    grid-area: adboxl;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #444;  
    color: #fff;
    border-radius: 5px;
}

/* .ladvertimg{
    width: auto;
} */


.ladvertimg{
    width: 95%;
    height: 95%;
    border-radius: 3px;
    box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.50);
    filter: brightness(100%);
    object-fit: cover;
}